<div class="container mt-4">
  <h1 class="mb-4">All Books</h1>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= link_to book.title, book, class: 'text-decoration-none' %></h5>
            <p class="card-text"><strong>Author:</strong> <%= book.author %></p>
            <p class="card-text"><strong>ISBN:</strong> <%= book.isbn %></p>
            <p class="card-text">
              <span class="badge <%= book.available? ? 'bg-success' : 'bg-danger' %>">
                <%= book.available? ? 'Available' : 'Borrowed' %>
              </span>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>